# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [96]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [67]:
# Set the file path to import the WeatherPy_database.csv file
city_data_to_load = "../Weather_Database/WeatherPy_database.csv"

# Read the City and Ride Data
WeatherPy_df = pd.read_csv(city_data_to_load)

# Display sample data
WeatherPy_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tabou,CI,4.4230,-7.3528,79.93,75,74,10.00,broken clouds
1,1,Severo-Kurilsk,RU,50.6789,156.1250,43.39,82,100,14.27,overcast clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.97,72,88,15.41,overcast clouds
3,3,Vanavara,RU,60.3400,102.2797,27.19,85,89,4.81,overcast clouds
4,4,Kaitangata,NZ,-46.2817,169.8464,48.06,85,99,3.27,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [68]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [69]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = WeatherPy_df.loc[(WeatherPy_df["Max Temp"] <= max_temp) & \
                                       (WeatherPy_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tabou,CI,4.4230,-7.3528,79.93,75,74,10.00,broken clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.97,72,88,15.41,overcast clouds
5,5,Kloulklubed,PW,7.0419,134.2556,82.27,77,100,14.70,overcast clouds
11,11,Sao Filipe,CV,14.8961,-24.4956,77.81,76,24,6.87,few clouds
19,19,Bandarbeyla,SO,9.4942,50.8122,77.61,87,4,9.22,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [70]:
# Check for null data
preferred_cities_df.count()

City_ID                211
City                   211
Country                211
Lat                    211
Lng                    211
Max Temp               211
Humidity               211
Cloudiness             211
Wind Speed             211
Current Description    211
dtype: int64

In [71]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tabou,CI,4.4230,-7.3528,79.93,75,74,10.00,broken clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,81.97,72,88,15.41,overcast clouds
5,5,Kloulklubed,PW,7.0419,134.2556,82.27,77,100,14.70,overcast clouds
11,11,Sao Filipe,CV,14.8961,-24.4956,77.81,76,24,6.87,few clouds
19,19,Bandarbeyla,SO,9.4942,50.8122,77.61,87,4,9.22,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [72]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

           City Country  Max Temp Current Description      Lat       Lng
0         Tabou      CI     79.93       broken clouds   4.4230   -7.3528
2     Hithadhoo      MV     81.97     overcast clouds  -0.6000   73.0833
5   Kloulklubed      PW     82.27     overcast clouds   7.0419  134.2556
11   Sao Filipe      CV     77.81          few clouds  14.8961  -24.4956
19  Bandarbeyla      SO     77.61           clear sky   9.4942   50.8122

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [73]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tabou,CI,79.93,broken clouds,4.4230,-7.3528,
2,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,
5,Kloulklubed,PW,82.27,overcast clouds,7.0419,134.2556,
11,Sao Filipe,CV,77.81,few clouds,14.8961,-24.4956,
19,Bandarbeyla,SO,77.61,clear sky,9.4942,50.8122,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [74]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [75]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [76]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tabou,CI,79.93,broken clouds,4.4230,-7.3528,hotêl doufoulougou
2,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,Scoop Guest House
5,Kloulklubed,PW,82.27,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
11,Sao Filipe,CV,77.81,few clouds,14.8961,-24.4956,Hotel Xaguate
19,Bandarbeyla,SO,77.61,clear sky,9.4942,50.8122,JABIR HOTEL
...,...,...,...,...,...,...,...
694,Mabaruma,GY,85.53,overcast clouds,8.2000,-59.7833,Monty Brooms Guest House
696,Luba,GQ,77.20,light rain,3.4568,8.5547,
697,Behbahan,IR,80.71,clear sky,30.5959,50.2417,فروشگاه ابوعلی
702,Sola,VU,79.39,overcast clouds,-13.8833,167.5500,Leumerus Bungalows
704,Sanghar,PK,82.80,clear sky,26.0466,68.9481,Goklani House گوکلانی ہائوس

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [108]:
# Drop the rows where there is no Hotel Name.
# Replace blanks in hotel coloumn with NAN
# Found code at https://stackoverflow.com/questions/29247712/how-to-replace-a-value-in-pandas-with-nan
hotel_df.replace("", np.nan, inplace = True)

# Drop null values
clean_hotel_df = hotel_df.dropna()

# Display sample data with new df
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tabou,CI,79.93,broken clouds,4.4230,-7.3528,hotêl doufoulougou
2,Hithadhoo,MV,81.97,overcast clouds,-0.6000,73.0833,Scoop Guest House
5,Kloulklubed,PW,82.27,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
11,Sao Filipe,CV,77.81,few clouds,14.8961,-24.4956,Hotel Xaguate
19,Bandarbeyla,SO,77.61,clear sky,9.4942,50.8122,JABIR HOTEL
...,...,...,...,...,...,...,...
691,Shelui,TZ,85.80,overcast clouds,-4.3667,34.2000,PARIS GUEST HOUSE
694,Mabaruma,GY,85.53,overcast clouds,8.2000,-59.7833,Monty Brooms Guest House
697,Behbahan,IR,80.71,clear sky,30.5959,50.2417,فروشگاه ابوعلی
702,Sola,VU,79.39,overcast clouds,-13.8833,167.5500,Leumerus Bungalows
704,Sanghar,PK,82.80,clear sky,26.0466,68.9481,Goklani House گوکلانی ہائوس

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [79]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [109]:
# Set the file name.
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv('WeatherPy_vacation.csv', index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [ ]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [ ]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [ ]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [ ]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE

# Create a figure to add the Google map as a layer
# YOUR CODE HERE

# Display the figure containing the map
# YOUR CODE HERE